.demo-layout-transparent {
    background: url('../Static/business.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}
.render-content {
    padding: 70px 50px;
    text-align: center;
}
.text-white {
    color: white;
}

.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 126px;
    background: cadetblue center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.message-board {
    width: 100%;
    text-align: center;
}
.message-board .message {
    max-width: 80%;
    background-color: rgba( 0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
    margin: 3px auto;
    padding: 7px;
}
.article-card-wide.mdl-card {
    width: 100%;
}
.article-card-wide > .mdl-card__title {
    color: #fff;
    height: 126px;
    background: cadetblue center / cover;
}
.article-card-wide > .mdl-card__menu {
    color: #fff;
}
.comments-list-three.mdl-list {
    width: 100%;
}
.add-form, .edit-form {
    background-color: rgba( 0, 0, 0, 0.4);
    color: white;
    border-radius: 5px;
    margin: 3px auto;
    padding: 7px;
}
.font-color{
    color: white;
}